@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Kanit', 'Sarabun', sans-serif;
}

html {
  font-size: 16px; /* Base size for desktop */
  -webkit-text-size-adjust: 100%;
  height: 100%;
}